body{background-color:#E8A43E;}
h1{font-family:"Impact",sans-serif;font-weiht:200;color:#FFFFFF;}
h2{font-family:"Impact";color:#FFFFFF;}
li{font-family:"Arial";font-size: 24px;color:#096E31;}
p{font-family:"Arial";font-size: 24px;color:#096E31;}